extends layout

block content
  main
    section(class="title-section small-wrapper")
      h1(class="title-section__promo-title")= title
      p(class="title-section__promo-description")
        | Here is the hiking information you need to decide 
        | if it is right for you, and to make it more interesting, 
        | enjoyable, and safe.
      a(class="title-section__start-btn" href="#") Get Started
