doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header(class="main-header big-wrapper")
      strong(class="logo") 
        span(class="logo__highlighted-letter") M
        | uncak
      ul(class="main-header__nav")
        li(class="main-header__nav-item")
          a(href="#") Home
        li(class="main-header__nav-item")
          a(href="#") Go Hiking
        li(class="main-header__nav-item")
          a(href="#") About
        li(class="main-header__nav-item")
          a(href="#") Login
    block content
